header{
    background-image: url(maxresdefault.jpg);
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: space-around;
}
header{
    image-rendering: url(Blox_Fruits.webp);
}
body{
    background-image: ;
}
